*{
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #efefef;
}
.background {
    width: 100vw;
    position: absolute;
    display: block;
    top: 0;
    left: 0; 
    z-index: -1;
}
.cf-logo{
    width: 100px;
}
.main-nav{
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: 600;
    font-size: 25px;
    color: #000;
    margin: 20px;
    text-align: right;
    text-decoration: none;
}
.main-nav a:hover{
    text-decoration: none;
}
.subscript{
    margin: 10px 0px;
    display: flex;
    align-items: center;
    align-content: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.8rem;
}
.subscript img{
    margin: 0px 10px;
}
.resume{
    z-index: 99;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile-photo{
    z-index: 99;
    margin: 20px;
}
.profile-photo img{
    width: 450px;
    border-radius: 300px;
}
.description{
    width: 450px;
    margin: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 10px;
}

/* Social Media */
.follow-us{
    z-index: 99;
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin: 20px 0px;
    font-size: 1.15rem;
    text-decoration: none;
    color: #232d3c;
}
.follow-us a > svg:hover{
    transition: 1s;
    transform: scale(1.3);
    -webkit-transform: scale(1.3); /* Safari & Chrome */
    -moz-transform: scale(1.3); /* Firefox */
    -ms-transform: scale(1.3); /* Internet Explorer */
    -o-transform: scale(1.3); /* Opera */
}
.follow-us svg{
    color: #232d3c;
    width: 22px;
    height: 22px;
}

footer{
    text-align: center;
}
footer p{
    font-size: 12px;
}

@media only screen and (max-width: 1000px) {
    .cf-logo{
        width: 75px;
    }
    .main-nav{
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 600;
        font-size: 25px;
        color: #000;
        margin: 20px;
        text-align: left;
        text-decoration: none;
    }
    .description{
        text-align: center;;
        width: 90%;
        margin: 0 20px;
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 12px;
    }

    .profile-photo{
        z-index: -1;
        margin: 20px;
    }
    .profile-photo img{
        opacity: 0.5;
        width: 100%;
        border-radius: 300px;
    }

    .follow-us{
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin: 30px 0px;
        font-size: 1.15rem;
        text-decoration: none;
        color: #232d3c;
    }
}